<section id="testimonials" class="testimonials">
    <div class="container">
      <div class="section-title">
        <h2>Our Courses</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
      </div>

      <% if (courses.length > 0) { %>

      <div class="testimonials-slider swiper">
        <div class="swiper-wrapper">
        <% courses.forEach(course => { %>
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="<%= course.cover %>" class="testimonial-img" alt="">
                <h3><a href="/course/<%= course._id %>"><%= course.title %></a></h3>
                <h4>By <%= course.authors[0].name %></h4>
                <p><%= course.short_description %></p>
              </div>
            </div>
          </div>
        <% }) %>  
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <% } else {%>
        <h3>There are no courses available</h3>
      <% } %>
    </div>
</section>