<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Athena - All Clubs</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="/assets/images/favicon.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets1/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets1/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets1/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets1/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets1/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets1/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets1/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets1/css/style.css" rel="stylesheet">
  
</head>

<body>
  
  <!-- ================== NAVBAR ================== -->
  <%- include('./partials/navbar1.ejs') %>
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>Institute Cultural Council</h1>
          <a href="#about" class="btn-get-started scrollto">View Courses</a>
        </div>
        <div class="col-xl-6">
          <img src="https://drive.google.com/uc?id=16h4WZAFy4Ba1YIMn8oGbnW6OQJ2n-arb" alt="" style="width: 400px;">
        </div>

      </div>
    </div>
    
  </section>
  
  <main id="main">
    
<!-- ======= Tabs Section ======= -->


<section id="tabs" class="tabs">

    
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>All Clubs</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>
        
      <div class="tab-content">
        <% for (let i=0; i<(clubs.length); i=i+2) {%>

          <div class="row mt-3 justify-content-center">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3><%= clubs[i].name %></h3>
              <p class="fst-italic">
                <%= clubs[i].description %>
              </p>
            </div>
            <div class="col-lg-3">
              <img src="<%= clubs[i].thumbnail %>" alt="" class="img-fluid" style="height: 200px;">
            </div>
          </div>
          <% if(i+1<(clubs.length)) { %>
          <div class="row mt-3 justify-content-center">
              <div class="col-lg-3 order-1 order-lg-2 text-center">
                <img src="<%= clubs[i+1].thumbnail %>" alt="" class="img-fluid" style="height: 200px;">
              </div>
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3><%= clubs[i+1].name %></h3>
              <p class="fst-italic">
                <%= clubs[i+1].description %>
              </p>
            </div>
          </div>
          <% } %>
        <% } %>
      </div>

    </div>
  </section>
    
  </main>
  
  <!-- ======= Footer ======= -->
  <%- include('./partials/footer.ejs') %>
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets1/vendor/purecounter/purecounter.js"></script>
  <script src="assets1/vendor/aos/aos.js"></script>
  <script src="assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets1/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets1/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets1/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets1/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets1/js/main.js"></script>

</body>

</html>