<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athena-Clubs</title>
    <!-- UNICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


    <!-- STYLESHEET -->
    <%- include('./partials/css-includes.ejs') %>

    <!-- JS & JQUERY -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

</head>

<body>
    <!-- ================== NAVBAR ================== -->
    <%- include('./partials/navbar.ejs') %>

    <!-- ==================== HOME =================== -->
    <section class="clubs-home" id="clubs-home">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"
                    style="background: url('assets/images/insync.jpg') no-repeat center; background-size: cover;">
                    <div class="max-width">
                        <div class="home-content">
                            <div class="heading-2"><span class="typing"></span></div>
                            <div class="heading-secondary"><a href="/club-specific">View All Courses <i
                                        class="uil uil-arrow-right button-icon"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide"
                    style="background: url('assets/images/fourthwall.jpg') no-repeat center; background-size: cover;">
                    <div class="max-width">
                        <div class="home-content">
                            <div class="heading-2"><span class="typing"></span></div>
                            <div class="heading-secondary"><a href="/club-specific">View All Courses <i
                                        class="uil uil-arrow-right button-icon"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide"
                    style="background: url('assets/images/rang.jpg') no-repeat center; background-size: cover;">
                    <div class="max-width">
                        <div class="home-content">
                            <div class="heading-2"><span class="typing"></span></div>
                            <div class="heading-secondary"><a href="/club-specific">View All Courses <i
                                        class="uil uil-arrow-right button-icon"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide"
                    style="background: url('assets/images/home.jpg') no-repeat center; background-size: cover;">
                    <div class="max-width">
                        <div class="home-content">
                            <div class="heading-2"><span class="typing"></span></div>
                            <div class="heading-secondary"><a href="/club-specific">View All Courses <i
                                        class="uil uil-arrow-right button-icon"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide"
                    style="background: url('assets/images/home1.jpg') no-repeat center; background-size: cover;">
                    <div class="max-width">
                        <div class="home-content">
                            <div class="heading-2"><span class="typing"></span></div>
                            <div class="heading-secondary"><a href="/club-specific">View All Courses <i
                                        class="uil uil-arrow-right button-icon"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
        </div>
    </section>

    <!-- CLUBS -->
    <section class="courses" id="courses">
        <div class="max-width">
            <h2 class="title">All Clubs</h2>
            <% for (let i=0; i<(clubs.length); i=i+2) {%>
            <div class="row my-5 align-items-center justify-content-center">
                <div class="col-8 col-lg-6 text-left">
                    <h3 class="my-5"><%= clubs[i].name %></h3>
                    <p class="fw-light"><%= clubs[i].description %></p>

                    <h5 class="text-primary"><a href="/clubs/<%= clubs[i]._id %>">View Courses <i class="uil uil-arrow-right h5"></i></a></h5>
                </div>
                <div class="col-4 justify-content-center text-center align items center d-none d-md-block">
                    <img src="assets/images/card1.jpg" alt="">
                </div>
            </div>
            <% if(i+1<(clubs.length)) { %>
            <div class="row my-5 align-items-center justify-content-center">
                <div class="col-4 justify-content-center text-center align items center d-none d-md-block">
                    <img src="assets/images/card2.jpg" alt="">
                </div>
                <div class="col-8 col-lg-6 text-left">
                    <h3 class="my-5"><%= clubs[i+1].name %></h3>
                    <p class="fw-light"><%= clubs[i+1].description %></p>

                    <h5 class="text-primary"><a href="/clubs/<%= clubs[i+1]._id %>">View Courses <i class="uil uil-arrow-right h5"></i></a></h5>
                </div>
            </div>
            <% } %>
            <% } %>
        </div>
    </section>

    <!-- ================== FOOTER =================== -->
    <%- include('./partials/footer.ejs') %>

    <!-- SCROLL TOP -->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup_icon"></i>
    </a>

    <!-- SWIPER JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".swiper-container", {
            effect: "coverflow",
            speed: 1000,
            grabCursor: true,
            autoplay: {
                delay: 5000,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            loop: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
        });
    </script>

    <%- include('./partials/js-includes.ejs') %>

</body>

</html>