<!DOCTYPE Course >
<Course  lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- UNICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Club-specific</title>

    <!-- JS & JQUERY -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    
</head>

<body>
    <!-- ================== NAVBAR ================== -->
    <%- include('./partials/navbar.ejs') %>

    <!-- ==================== HOME =================== -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="heading-primary"><%= club.name %></div>
                <div class="heading-2"><span class="typing"></span></div>
                <div class="heading-secondary"><a href="#">View All Courses <i class="uil uil-arrow-right button-icon"></i></a></div>
            </div>
        </div>
    </section>

    <!-- ================== COURSES ================== -->
    <%- include('./partials/course-slider.ejs') %>

    <!-- ======================== SKILLS =========================== -->
    <section class="skills section" id="skills">
        <h2 class="title">Our Courses</h2>

        <div class="skills_container container grid">
            <div>
                <div class="skills_content skills_open">
                    <div class="skills_header">
                        <i class="uil uil-camera skills_icon"></i>                        <div>
                            <h1 class="skills_title">Pre Recorded</h1>
                            <span class="skills_subtitle">More than 10 courses</span>
                        </div>

                        <i class="uil uil-arrow-down skills_arrow"></i>
                    </div>
                    <% courses.forEach(course => { %>
                    <div class="skills_list grid">
                        <div class="skills_data">
                            <div class="skills_titles">
                                <h3 class="skills_name"><a href="/course"><%= course.title %></a> </h3>
                                <span class="skills_number"><i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i></span>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>

            <div>
                <div class="skills_content skills_close">
                    <div class="skills_header">
                        <i class="uil uil-film skills_icon"></i>
                        <div>
                            <h1 class="skills_title">Workshops</h1>
                            <span class="skills_subtitle">More than 5 courses</span>
                        </div>

                        <i class="uil uil-arrow-down skills_arrow"></i>
                    </div>

                    <% courses.forEach(course => { %>
                        <div class="skills_list grid">
                            <div class="skills_data">
                                <div class="skills_titles">
                                    <h3 class="skills_name"><a href="/course"><%= course.title %></a> </h3>
                                    <span class="skills_number"><i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i><i class="uil uil-star"></i></span>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </section>

    <!-- ================== FOOTER =================== -->
    <%- include('./partials/footer.ejs') %>    

    <!-- SCROLL TOP -->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup_icon"></i>
    </a>
    <!-- MAIN JS -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/script.js"></script>
</body>

</Course >