<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Athena - course home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets1/img/favicon.png" rel="icon">
  <link href="/assets1/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets1/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets1/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets1/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets1/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets1/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets1/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets1/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets1/css/style.css" rel="stylesheet">
  
</head>

<body>
  
  <!-- ================== NAVBAR ================== -->
  <%- include('./partials/navbar1.ejs') %>
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="background: url('<%= course.cover %>');">
    
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1><%= course.title %></h1>
        </div>

      </div>
    </div>
    
  </section>
  
  <main id="main">
    
    <section id="testimonials" class="testimonials">
        <div class="container">
          <div class="section-title">
            <h2><%= course.title %></h2>
            <p><%= course.short_description %></p>
          </div>
    
          <% for (let j=0; j<(course.playlist.length); j++) { %>
            <% if(j%3 === 0) { %>
            <div class="row my-4"> <% } %>
                <div class="col-md-4">
                    <div class="card align-items-center text-center">
                        <img class="my-2 card-img-top img-fluid" src="<%= course.playlist[j].thumbnail %>" alt="Card image cap" style="height: 200px;">
                        <div class="card-body">
                            <h4 class="card-title"><a href="/course/<%= course._id %>/<%= course.playlist[j]._id %>"><%= course.playlist[j].title %></a></h4>
                            <p class="card-text"><%= course.playlist[j].description %></p>
                        </div>
                    </div>
                </div>
            <% if(j%3 === 2) { %>
            </div> <% } %>
            <% } %>
        </div>
    </section>
    
  </main>
  
  <!-- ======= Footer ======= -->
  <%- include('./partials/footer.ejs') %>
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets1/vendor/purecounter/purecounter.js"></script>
  <script src="/assets1/vendor/aos/aos.js"></script>
  <script src="/assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets1/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets1/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets1/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets1/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets1/js/main.js"></script>

</body>

</html>