<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Athena - Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- UNICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- Template Main CSS File -->
    
    

    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bootstrap1.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css" />
    
    <!-- JS & JQUERY -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>


</head>

<body>

    <!-- ================== NAVBAR ================== -->
    <%- include('./partials/navbar.ejs') %>

    <div class="wrapper">
        <div class="container-fluid">
            <div class="h1 text-dark mt-1"><%= course.title %></div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="video">
                        <iframe src="<%= video.link %>"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>



                    <form action="/course/<%= course._id %>/<%= video._id %>" method="POST" class="card-box">
                        <span class="input-icon icon-right">
                            <textarea required name="body" rows="3" class="form-control" placeholder="Post a new message"></textarea>
                        </span>
                        <div class="pt-1 float-right">
                            <button class="btn btn-primary btn-sm waves-effect waves-light">Send</button>
                        </div>
                        <div style="clear:both;"></div>
                    </form>

                    <% if (comments.length > 0) { %>
                    <% comments.forEach(comment => { %>

                    <div class="card-box">

                        <div class="media mb-3">
                            <i class="uil uil-user"></i>
                            <div class="media-body">
                                <!-- <h5 class="mt-0"><a href="#" class="text-dark">John Smith</a><small class="ml-1 text-muted">about 4 hour ago</small></h5> -->
                                <p><%= comment.body %></p>

                                <!-- <div class="comment-footer">
                                    <a href="#"><i class="far fa-thumbs-up"></i></a>
                                    <a href="#"><i class="far fa-thumbs-down"></i></a>
                                    <a href="#">Reply</a>
                                </div> -->
                            </div>
                        </div>

                    </div>

                    <% }) %>
                    <% } %>

                </div>

                <div class="col-sm-4">
                    <div class="card-box">

                        <h4 class="header-title mt-0 mb-3">The Team Members</h4>

                        <ul class="list-group mb-0 user-list">
                            <% course.authors.forEach(author => { %>
                            <li class="list-group-item">
                                <div class="user-list-item">
                                    <div class="user avatar-sm float-left mr-2">
                                        <i class="uil uil-bitcoin-alt"></i>
                                    </div>
                                    <div class="user-desc">
                                        <h5 class="name mt-0 mb-1"><%= author.name %></h5>
                                        <p class="desc text-muted mb-0 font-12"><%= author.position %></p>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>

                    <div class="card-box">

                        <h4 class="header-title mt-0 mb-3"><i class="uil uil-bars"></i></i> Full Playlist</h4>

                        <ul class="list-group mb-0 user-list">
                            <% course.playlist.forEach(item => { %>
                            <li class="list-group-item">
                                <a href="#" class="user-list-item">
                                    <div class="user-desc overflow-hidden">
                                        <h5 class="name mt-0 mb-1"><a href="/course/<%= course._id %>/<%= item._id %>"><%= item.title %></a></h5>
                                    </div>
                                </a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>


                </div>
            </div>
            <!-- end row -->

        </div> <!-- end container -->
    </div>

    <!-- Vendor js -->
    <script src="/assets/js/vendor.min.js"></script>

    <!-- App js-->
    <%- include('./partials/js-includes.ejs') %>

</body>

</html>